openapi: 3.1.0
info:
  title: PawIt VetCare API
  version: 0.3.0
  license:
    name: Proprietary
    url: https://pawit.care/legal/terms
  summary: Contract for the PawIt VetCare multi-tenant veterinary HMS API.
  description: >
    PawIt VetCare is a serverless, multi-tenant veterinary hospital management
    platform. This contract is the source of truth for backend implementation,
    frontend API clients, and contract tests.
servers:
  - url: https://api.pawit.care
    description: Production API
  - url: https://api.dev.pawit.care
    description: Development API
security:
  - cookieAuth: []
  - bearerAuth: []
tags:
  - name: System
    description: Health, readiness, and platform-level endpoints.
  - name: Current User
    description: Authenticated user, tenant, and clinic context.
  - name: Product Policy
    description: PawIt product settings, role policies, and supported workflows.
  - name: Dashboard
    description: Hospital portal navigation and operational summary data.
  - name: Appointments
    description: Appointment scheduling, cancellation, calendar, and visit status.
  - name: Queue
    description: Walk-in registration and patient queue state transitions.
  - name: Pets
    description: Dog and cat records, guardians, and document metadata.
  - name: Clinical
    description: Prescriptions, SOAP notes, lab orders, and diagnostic reports.
  - name: Billing
    description: Billing dashboards, invoices, and invoice voiding.
  - name: Analytics
    description: Tenant analytics, feedback, ratings, and reporting data.
  - name: Staff
    description: Veterinarian and clinic staff management.
  - name: Admin
    description: Tenant administrative controls, audit review, and governance.
paths:
  /healthz:
    get:
      operationId: getHealth
      tags: [System]
      summary: Public liveness check
      security: []
      responses:
        "200":
          description: Service is alive
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /readyz:
    get:
      operationId: getReadiness
      tags: [System]
      summary: Public readiness check
      security: []
      responses:
        "200":
          description: Service dependencies are ready
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/me:
    get:
      operationId: getCurrentUser
      tags: [Current User]
      summary: Get current user and tenant context
      responses:
        "200":
          description: Current user context
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/product-spec:
    get:
      operationId: getProductSpec
      tags: [Product Policy]
      summary: Get approved PawIt v1 product policy
      responses:
        "200":
          description: Product policy
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductSpec"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/role-policies:
    get:
      operationId: listRolePolicies
      tags: [Product Policy]
      summary: List PawIt role and permission policies
      responses:
        "200":
          description: Role policies
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RolePolicyList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/navigation:
    get:
      operationId: getNavigation
      tags: [Dashboard]
      summary: Get hospital portal navigation sections
      responses:
        "200":
          description: Navigation sections
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NavigationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/dashboard/summary:
    get:
      operationId: getDashboardSummary
      tags: [Dashboard]
      summary: Get top-level operational metrics
      responses:
        "200":
          description: Dashboard metrics
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/appointments:
    get:
      operationId: listAppointments
      tags: [Appointments]
      summary: List appointments
      responses:
        "200":
          description: Appointment list
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppointmentList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createAppointment
      tags: [Appointments]
      summary: Create a staff-managed appointment or pet-parent appointment request
      description: >
        Pet parents create requested appointments. Staff users with appointment
        management permission can create scheduled appointments. Telemedicine
        appointments use manually entered meeting links in v1.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAppointmentRequest"
      responses:
        "201":
          description: Appointment created
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppointmentMutationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/appointments/{id}/cancel:
    post:
      operationId: cancelAppointment
      tags: [Appointments]
      summary: Cancel an appointment with clinic cutoff enforcement
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/PathID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelAppointmentRequest"
      responses:
        "200":
          description: Appointment cancelled
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppointmentMutationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/calendar:
    get:
      operationId: getCalendar
      tags: [Appointments]
      summary: Get appointment calendar data
      responses:
        "200":
          description: Calendar data
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/queue:
    get:
      operationId: listQueueEntries
      tags: [Queue]
      summary: List active queue entries
      responses:
        "200":
          description: Queue entries
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueueEntryList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/queue/walk-ins:
    post:
      operationId: registerWalkIn
      tags: [Queue]
      summary: Register a walk-in queue entry and linked appointment
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterWalkInRequest"
      responses:
        "201":
          description: Walk-in registered
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueueMutationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/queue/{id}/call:
    post:
      operationId: callQueueEntry
      tags: [Queue]
      summary: Mark a queue entry as called
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/PathID"
      requestBody:
        $ref: "#/components/requestBodies/UpdateQueueBody"
      responses:
        "200":
          $ref: "#/components/responses/QueueMutationOK"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/queue/{id}/start:
    post:
      operationId: startQueueEntry
      tags: [Queue]
      summary: Move a queue entry into consultation
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/PathID"
      requestBody:
        $ref: "#/components/requestBodies/UpdateQueueBody"
      responses:
        "200":
          $ref: "#/components/responses/QueueMutationOK"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/queue/{id}/complete:
    post:
      operationId: completeQueueEntry
      tags: [Queue]
      summary: Complete a queue entry and linked appointment
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/PathID"
      requestBody:
        $ref: "#/components/requestBodies/UpdateQueueBody"
      responses:
        "200":
          $ref: "#/components/responses/QueueMutationOK"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/queue/{id}/cancel:
    post:
      operationId: cancelQueueEntry
      tags: [Queue]
      summary: Cancel a queue entry and linked appointment
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/PathID"
      requestBody:
        $ref: "#/components/requestBodies/UpdateQueueBody"
      responses:
        "200":
          $ref: "#/components/responses/QueueMutationOK"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/pets:
    get:
      operationId: listPets
      tags: [Pets]
      summary: List dog/cat pet records
      responses:
        "200":
          description: Pet records
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PetRecordList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createPet
      tags: [Pets]
      summary: Create a dog/cat pet record with first guardian
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePetRequest"
      responses:
        "201":
          description: Pet created
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PetMutationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/pets/{id}/archive:
    post:
      operationId: archivePet
      tags: [Pets]
      summary: Archive a pet record with audit reason
      description: PawIt never hard-deletes clinical records from the application API.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/PathID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArchivePetRequest"
      responses:
        "200":
          description: Pet archived
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PetMutationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/pets/{id}/documents:
    get:
      operationId: listPetDocuments
      tags: [Pets]
      summary: List active document metadata for a pet
      parameters:
        - $ref: "#/components/parameters/PathID"
      responses:
        "200":
          description: Pet document metadata
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PetDocumentList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: uploadPetDocument
      tags: [Pets]
      summary: Register uploaded pet document metadata
      description: >
        The file itself is stored through a signed upload flow. This endpoint
        records the document metadata once storage has accepted the object.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/PathID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UploadPetDocumentRequest"
      responses:
        "201":
          description: Document metadata registered
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PetDocumentMutationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/pets/{id}/documents/{documentId}/archive:
    post:
      operationId: archivePetDocument
      tags: [Pets]
      summary: Archive pet document metadata with an audit reason
      description: Document objects stay in storage; this marks metadata inactive in tenant scope.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/PathID"
        - $ref: "#/components/parameters/DocumentID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArchivePetDocumentRequest"
      responses:
        "200":
          description: Document metadata archived
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PetDocumentMutationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/patients:
    get:
      operationId: listPatients
      tags: [Pets]
      summary: List pet records
      description: Legacy alias for `/pets` while the hospital UI migrates to veterinary naming.
      responses:
        "200":
          description: Pet records
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PetRecordList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/prescriptions:
    get:
      operationId: listPrescriptions
      tags: [Clinical]
      summary: List tenant prescriptions
      description: Pet-parent callers with only shared-record permissions receive only prescriptions shared with them for pets where they are active guardians with record-view access.
      responses:
        "200":
          description: Prescription drafts and finalized prescriptions
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrescriptionList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createPrescription
      tags: [Clinical]
      summary: Create a prescription draft with medication lines
      description: Veterinarians and vet technicians can create drafts; finalization is a separate veterinarian-only step.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePrescriptionRequest"
      responses:
        "201":
          description: Prescription draft created
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrescriptionMutationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/prescriptions/{id}/finalize:
    post:
      operationId: finalizePrescription
      tags: [Clinical]
      summary: Finalize a prescription draft
      description: Finalized prescriptions may optionally be shared with the pet parent.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/PathID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FinalizePrescriptionRequest"
      responses:
        "200":
          description: Prescription finalized
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrescriptionMutationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/prescription-templates:
    get:
      operationId: listPrescriptionTemplates
      tags: [Clinical]
      summary: List veterinary prescription templates
      responses:
        "200":
          description: Prescription templates
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrescriptionTemplateList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/clinical-notes:
    get:
      operationId: listClinicalNotes
      tags: [Clinical]
      summary: List clinical notes and consultations
      description: Pet-parent callers with only shared-record permissions receive only clinical notes shared with them for pets where they are active guardians with record-view access.
      responses:
        "200":
          description: Clinical notes
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClinicalNoteList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createClinicalNote
      tags: [Clinical]
      summary: Create a draft SOAP/clinical note
      description: Veterinarians and vet technicians can create draft clinical notes. Finalization remains a separate veterinarian workflow.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClinicalNoteRequest"
      responses:
        "201":
          description: Clinical note draft created
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClinicalNoteMutationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/clinical-notes/{id}/finalize:
    post:
      operationId: finalizeClinicalNote
      tags: [Clinical]
      summary: Finalize a draft SOAP/clinical note
      description: Veterinarians can finalize a draft clinical note and optionally share it with the pet parent.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/PathID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FinalizeClinicalNoteRequest"
      responses:
        "200":
          description: Clinical note finalized
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClinicalNoteMutationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/lab-tests:
    get:
      operationId: listLabTests
      tags: [Clinical]
      summary: List lab tests and diagnostic reports
      description: Pet-parent callers with only shared-record permissions receive only lab results shared with them for pets where they are active guardians with record-view access.
      responses:
        "200":
          description: Lab tests
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LabTestList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createLabOrder
      tags: [Clinical]
      summary: Create an internal or external lab order
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLabOrderRequest"
      responses:
        "201":
          description: Lab order created
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LabOrderMutationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/lab-tests/{id}/status:
    post:
      operationId: updateLabOrderStatus
      tags: [Clinical]
      summary: Process a lab order through workflow statuses
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/PathID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateLabOrderStatusRequest"
      responses:
        "200":
          description: Lab order status updated
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LabOrderMutationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/lab-tests/{id}/report:
    post:
      operationId: uploadLabResult
      tags: [Clinical]
      summary: Upload lab result metadata and optionally share it
      description: >
        Lab technicians may upload/process results. Sharing a result with pet
        parents requires `lab_result.share`.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/PathID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UploadLabResultRequest"
      responses:
        "201":
          description: Lab result uploaded
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LabOrderMutationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/billing:
    get:
      operationId: getBilling
      tags: [Billing]
      summary: Get billing metrics and invoices
      responses:
        "200":
          description: Billing dashboard
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/billing/invoices:
    post:
      operationId: createInvoice
      tags: [Billing]
      summary: Create a draft or issued invoice
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvoiceRequest"
      responses:
        "201":
          description: Invoice created
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceMutationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/billing/invoices/{id}/void:
    post:
      operationId: voidInvoice
      tags: [Billing]
      summary: Void an invoice
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/PathID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoidInvoiceRequest"
      responses:
        "200":
          description: Invoice voided
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceMutationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/analytics:
    get:
      operationId: getAnalytics
      tags: [Analytics]
      summary: Get tenant analytics
      responses:
        "200":
          description: Analytics
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Analytics"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/feedback:
    get:
      operationId: getFeedback
      tags: [Analytics]
      summary: Get feedback metrics and reviews
      responses:
        "200":
          description: Feedback dashboard
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeedbackResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/doctors:
    get:
      operationId: listDoctors
      tags: [Staff]
      summary: List veterinarians
      responses:
        "200":
          description: Veterinarians
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/staff:
    get:
      operationId: listStaff
      tags: [Staff]
      summary: List non-pet-parent clinic staff
      responses:
        "200":
          description: Staff members
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    post:
      operationId: createStaff
      tags: [Staff]
      summary: Invite or reactivate a tenant staff member
      description: Clinic admins can create a pending staff invite or reactivate an existing staff account.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateStaffRequest"
      responses:
        "201":
          description: Staff member invited or reactivated
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StaffMutationResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /api/v1/audit-logs:
    get:
      operationId: listAuditLogs
      tags: [Admin]
      summary: List tenant audit log entries
      description: Clinic admins and internal super admins can review recent immutable audit entries for the tenant.
      responses:
        "200":
          description: Audit log entries
          headers:
            X-Request-ID:
              description: Request correlation identifier for support and tracing.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditLogList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: pawit_access
      description: HttpOnly Secure SameSite=Strict JWT cookie signed with HS256.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT signed with HS256 using the configured PawIt signing key.
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema:
        type: string
        minLength: 1
      description: Safe retry key for mutation requests.
    PathID:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Resource identifier.
    DocumentID:
      name: documentId
      in: path
      required: true
      schema:
        type: string
      description: Pet document identifier.
  requestBodies:
    UpdateQueueBody:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateQueueRequest"
  responses:
    BadRequest:
      description: Invalid request
      headers:
        X-Request-ID:
          description: Request correlation identifier for support and tracing.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Authentication required
      headers:
        X-Request-ID:
          description: Request correlation identifier for support and tracing.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Role does not have required permission
      headers:
        X-Request-ID:
          description: Request correlation identifier for support and tracing.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found in tenant scope
      headers:
        X-Request-ID:
          description: Request correlation identifier for support and tracing.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Conflict:
      description: State conflict or idempotency-key conflict
      headers:
        X-Request-ID:
          description: Request correlation identifier for support and tracing.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    TooManyRequests:
      description: Request rate limit exceeded
      headers:
        X-Request-ID:
          description: Request correlation identifier for support and tracing.
          schema:
            type: string
        Retry-After:
          description: Seconds to wait before retrying the request.
          schema:
            type: string
            pattern: "^[0-9]+$"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ServiceUnavailable:
      description: Service dependency unavailable
      headers:
        X-Request-ID:
          description: Request correlation identifier for support and tracing.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    QueueMutationOK:
      description: Queue entry updated
      headers:
        X-Request-ID:
          description: Request correlation identifier for support and tracing.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/QueueMutationResult"
  schemas:
    HealthResponse:
      type: object
      required: [status, service]
      properties:
        status:
          type: string
          const: ok
        service:
          type: string
          const: pawit-vetcare-api
    ReadyResponse:
      type: object
      required: [status, checkedAt]
      properties:
        status:
          type: string
          const: ready
        checkedAt:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
    MeResponse:
      type: object
      required: [user, clinic]
      properties:
        user:
          type: object
          required: [id, role, tenantId]
          properties:
            id:
              type: string
            role:
              $ref: "#/components/schemas/Role"
            tenantId:
              type: string
        clinic:
          type: object
          required: [name, type]
          properties:
            name:
              type: string
            type:
              type: string
    ProductSpec:
      type: object
      required:
        - productName
        - shortName
        - supportedSpecies
        - supportedAppointmentTypes
        - supportedAppointmentStatuses
        - supportedLabStatuses
        - paymentProvider
        - currency
        - petParentAuth
        - telemedicine
        - labs
        - cancellationPolicy
        - recordDeletionPolicy
        - aiAdvisoryEnabled
        - groomingEnabled
        - hipaaAligned
      properties:
        productName:
          type: string
          const: PawIt VetCare
        shortName:
          type: string
          const: PawIt
        supportedSpecies:
          type: array
          items:
            $ref: "#/components/schemas/Species"
        supportedAppointmentTypes:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentType"
        supportedAppointmentStatuses:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentStatus"
        supportedLabStatuses:
          type: array
          items:
            $ref: "#/components/schemas/LabOrderStatus"
        paymentProvider:
          type: string
          const: stripe
        currency:
          type: string
          const: USD
        petParentAuth:
          type: string
          const: email_password
        telemedicine:
          $ref: "#/components/schemas/TelemedicineSpec"
        labs:
          $ref: "#/components/schemas/LabSpec"
        cancellationPolicy:
          $ref: "#/components/schemas/CancellationPolicy"
        recordDeletionPolicy:
          type: string
          const: archive_cancel_void_only
        aiAdvisoryEnabled:
          type: boolean
          const: false
        groomingEnabled:
          type: boolean
          const: false
        hipaaAligned:
          type: boolean
          const: true
    TelemedicineSpec:
      type: object
      required: [mode, builtInVideoRoomsEnabled]
      properties:
        mode:
          type: string
          const: manual_meeting_link
        builtInVideoRoomsEnabled:
          type: boolean
          const: false
    LabSpec:
      type: object
      required: [internalLabsEnabled, externalLabsEnabled, externalIntegrationMode, thirdPartyApiIntegrationInV1]
      properties:
        internalLabsEnabled:
          type: boolean
          const: true
        externalLabsEnabled:
          type: boolean
          const: true
        externalIntegrationMode:
          type: string
          const: manual_status_based
        thirdPartyApiIntegrationInV1:
          type: boolean
          const: false
    CancellationPolicy:
      type: object
      required: [defaultCutoffHours, tenantConfigurable, locationOverride, staffOverrideAllowed]
      properties:
        defaultCutoffHours:
          type: integer
          const: 24
        tenantConfigurable:
          type: boolean
          const: true
        locationOverride:
          type: boolean
          const: true
        staffOverrideAllowed:
          type: boolean
          const: true
    RolePolicyList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/RolePolicy"
    RolePolicy:
      type: object
      required: [role, description, permissions]
      properties:
        role:
          $ref: "#/components/schemas/Role"
        description:
          type: string
        permissions:
          type: array
          items:
            type: string
        restrictions:
          type: array
          items:
            type: string
    NavigationResponse:
      type: object
      required: [sections]
      properties:
        sections:
          type: array
          items:
            $ref: "#/components/schemas/NavSection"
    NavSection:
      type: object
      required: [label, items]
      properties:
        label:
          type: string
        items:
          type: array
          items:
            $ref: "#/components/schemas/NavItem"
    NavItem:
      type: object
      required: [label, path, icon]
      properties:
        label:
          type: string
        path:
          type: string
        icon:
          type: string
    MetricList:
      type: object
      required: [metrics]
      properties:
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/Metric"
    Metric:
      type: object
      required: [label, value]
      properties:
        label:
          type: string
        value:
          type: string
        delta:
          type: string
        tone:
          type: string
    AppointmentList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Appointment"
    Appointment:
      type: object
      required: [id, petName, ownerName, primaryVeterinarian, additionalVeterinarians, time, type, status, contact, reason]
      properties:
        id:
          type: string
        petName:
          type: string
        ownerName:
          type: string
        primaryVeterinarian:
          type: string
        additionalVeterinarians:
          type: array
          items:
            type: string
        time:
          type: string
        type:
          $ref: "#/components/schemas/AppointmentType"
        status:
          $ref: "#/components/schemas/AppointmentStatus"
        contact:
          type: string
        meetingUrl:
          type: string
        reason:
          type: string
    CreateAppointmentRequest:
      type: object
      required: [locationId, petId, type, reason]
      properties:
        locationId:
          type: string
        petId:
          type: string
        type:
          $ref: "#/components/schemas/AppointmentType"
        reason:
          type: string
          minLength: 1
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
        primaryVeterinarianId:
          type: string
        additionalVeterinarianIds:
          type: array
          items:
            type: string
        meetingUrl:
          type: string
        requestedByPetParent:
          type: boolean
    CancelAppointmentRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          minLength: 1
        staffOverride:
          type: boolean
    AppointmentMutationResult:
      type: object
      required: [appointment]
      properties:
        appointment:
          $ref: "#/components/schemas/Appointment"
        idempotent:
          type: boolean
    CalendarResponse:
      type: object
      required: [date, statusCounts, items]
      properties:
        date:
          type: string
          format: date
        statusCounts:
          type: object
          additionalProperties:
            type: integer
        items:
          type: array
          items:
            $ref: "#/components/schemas/Appointment"
    QueueEntryList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/QueueEntry"
    QueueEntry:
      type: object
      required: [id, petName, ownerName, species, priority, status, waitMins]
      properties:
        id:
          type: string
        petName:
          type: string
        ownerName:
          type: string
        species:
          $ref: "#/components/schemas/Species"
        priority:
          type: string
        status:
          $ref: "#/components/schemas/QueueStatus"
        waitMins:
          type: integer
    RegisterWalkInRequest:
      type: object
      required: [locationId, petId, reason]
      properties:
        locationId:
          type: string
        petId:
          type: string
        priority:
          type: string
        reason:
          type: string
          minLength: 1
    UpdateQueueRequest:
      type: object
      properties:
        reason:
          type: string
    QueueMutationResult:
      type: object
      required: [queueEntry]
      properties:
        queueEntry:
          $ref: "#/components/schemas/QueueEntry"
        idempotent:
          type: boolean
    PetRecordList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PetRecord"
    PetRecord:
      type: object
      required: [id, petName, ownerName, species, breed, age, sex, phone, lastVisit, vaccinesDue, openPlans, guardianCount, documentsCount]
      properties:
        id:
          type: string
        petName:
          type: string
        ownerName:
          type: string
        species:
          $ref: "#/components/schemas/Species"
        breed:
          type: string
        age:
          type: string
        sex:
          type: string
        phone:
          type: string
        lastVisit:
          type: string
        vaccinesDue:
          type: integer
        openPlans:
          type: integer
        guardianCount:
          type: integer
        documentsCount:
          type: integer
    CreatePetRequest:
      type: object
      required: [locationId, name, species, guardianName]
      properties:
        locationId:
          type: string
        name:
          type: string
          minLength: 1
        species:
          $ref: "#/components/schemas/Species"
        breed:
          type: string
        sex:
          type: string
        estimatedAge:
          type: string
        guardianName:
          type: string
          minLength: 1
        guardianEmail:
          type: string
          format: email
        relationship:
          type: string
        primaryGuardian:
          type: boolean
    ArchivePetRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          minLength: 1
    ArchivePetDocumentRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          minLength: 1
    PetMutationResult:
      type: object
      required: [pet]
      properties:
        pet:
          $ref: "#/components/schemas/PetRecord"
        idempotent:
          type: boolean
    UploadPetDocumentRequest:
      type: object
      required: [title, documentType, objectPath, contentType, sizeBytes]
      properties:
        title:
          type: string
          minLength: 1
        documentType:
          type: string
          minLength: 1
        objectPath:
          type: string
          minLength: 1
        contentType:
          type: string
          minLength: 1
        sizeBytes:
          type: integer
          format: int64
          minimum: 0
    PetDocumentList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PetDocument"
    PetDocumentMutationResult:
      type: object
      required: [document]
      properties:
        document:
          $ref: "#/components/schemas/PetDocument"
        idempotent:
          type: boolean
    PetDocument:
      type: object
      required: [id, petId, title, documentType, objectPath, contentType, sizeBytes, status, createdAt]
      properties:
        id:
          type: string
        petId:
          type: string
        title:
          type: string
        documentType:
          type: string
        objectPath:
          type: string
        contentType:
          type: string
        sizeBytes:
          type: integer
          format: int64
        status:
          type: string
          enum: [active, archived]
        createdAt:
          type: string
          format: date-time
    PrescriptionList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Prescription"
    Prescription:
      type: object
      required: [id, petName, ownerName, status, medicationNames, sharedWithPetParent, updatedAt]
      properties:
        id:
          type: string
        petName:
          type: string
        ownerName:
          type: string
        status:
          type: string
          enum: [draft, finalized]
        medicationNames:
          type: array
          items:
            type: string
        instructions:
          type: string
        sharedWithPetParent:
          type: boolean
        updatedAt:
          type: string
          format: date-time
    PrescriptionMedicationInput:
      type: object
      required: [medicationName]
      properties:
        medicationName:
          type: string
          minLength: 1
        strength:
          type: string
        dosage:
          type: string
        frequency:
          type: string
        duration:
          type: string
        route:
          type: string
        instructions:
          type: string
    CreatePrescriptionRequest:
      type: object
      required: [locationId, petId, medications]
      properties:
        locationId:
          type: string
        petId:
          type: string
        appointmentId:
          type: string
        prescribingVeterinarianId:
          type: string
        instructions:
          type: string
        sharedWithPetParent:
          type: boolean
        medications:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/PrescriptionMedicationInput"
    FinalizePrescriptionRequest:
      type: object
      properties:
        shareWithPetParent:
          type: boolean
    PrescriptionMutationResult:
      type: object
      required: [prescription]
      properties:
        prescription:
          $ref: "#/components/schemas/Prescription"
        idempotent:
          type: boolean
    PrescriptionTemplateList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PrescriptionTemplate"
    PrescriptionTemplate:
      type: object
      required: [id, name, condition, category, medications, instructions]
      properties:
        id:
          type: string
        name:
          type: string
        condition:
          type: string
        category:
          type: string
        medications:
          type: array
          items:
            type: string
        instructions:
          type: string
    ClinicalNoteList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ClinicalNote"
    ClinicalNote:
      type: object
      required: [id, petName, ownerName, subject, status, updatedAt, sharedWithPetParent]
      properties:
        id:
          type: string
        petName:
          type: string
        ownerName:
          type: string
        subject:
          type: string
        status:
          type: string
        updatedAt:
          type: string
          format: date-time
        sharedWithPetParent:
          type: boolean
    CreateClinicalNoteRequest:
      type: object
      required: [locationId, petId]
      description: At least one clinical note field is required across reasonForVisit, subjective, objective, assessment, or plan.
      properties:
        locationId:
          type: string
        petId:
          type: string
        appointmentId:
          type: string
        reasonForVisit:
          type: string
        subjective:
          type: string
        objective:
          type: string
        assessment:
          type: string
        plan:
          type: string
        vitals:
          type: object
          additionalProperties: true
        sharedWithPetParent:
          type: boolean
    ClinicalNoteMutationResult:
      type: object
      required: [clinicalNote]
      properties:
        clinicalNote:
          $ref: "#/components/schemas/ClinicalNote"
        idempotent:
          type: boolean
    FinalizeClinicalNoteRequest:
      type: object
      properties:
        shareWithPetParent:
          type: boolean
    LabTestList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/LabTest"
    LabTest:
      type: object
      required: [id, petName, ownerName, testType, labCenter, labType, status, sharedWithPetParent]
      properties:
        id:
          type: string
        petName:
          type: string
        ownerName:
          type: string
        testType:
          type: string
        labCenter:
          type: string
        labType:
          type: string
        status:
          $ref: "#/components/schemas/LabOrderStatus"
        reportUrl:
          type: string
        sharedWithPetParent:
          type: boolean
    CreateLabOrderRequest:
      type: object
      required: [locationId, petId, testType]
      properties:
        locationId:
          type: string
        petId:
          type: string
        appointmentId:
          type: string
        labCenterId:
          type: string
        testType:
          type: string
          minLength: 1
        sampleType:
          type: string
        priority:
          type: string
    UpdateLabOrderStatusRequest:
      type: object
      required: [status]
      properties:
        status:
          $ref: "#/components/schemas/LabOrderStatus"
        reason:
          type: string
    UploadLabResultRequest:
      type: object
      properties:
        resultNotes:
          type: string
        reportObjectPath:
          type: string
        shareWithPetParent:
          type: boolean
        completedAt:
          type: string
          format: date-time
        markOrderCompleted:
          type: boolean
      anyOf:
        - required: [resultNotes]
        - required: [reportObjectPath]
    LabOrderMutationResult:
      type: object
      required: [labTest]
      properties:
        labTest:
          $ref: "#/components/schemas/LabTest"
        idempotent:
          type: boolean
    BillingResponse:
      type: object
      required: [metrics, invoices]
      properties:
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/Metric"
        invoices:
          type: array
          items:
            $ref: "#/components/schemas/Invoice"
    Invoice:
      type: object
      required: [id, petName, ownerName, amount, status, dueDate]
      properties:
        id:
          type: string
        petName:
          type: string
        ownerName:
          type: string
        amount:
          type: integer
          format: int64
        status:
          type: string
        dueDate:
          type: string
    InvoiceLineItemInput:
      type: object
      required: [description, quantity, unitAmountCents]
      properties:
        description:
          type: string
          minLength: 1
        quantity:
          type: integer
          minimum: 1
        unitAmountCents:
          type: integer
          format: int64
          minimum: 0
        relatedResourceType:
          type: string
        relatedResourceId:
          type: string
    CreateInvoiceRequest:
      type: object
      required: [locationId, lineItems]
      properties:
        locationId:
          type: string
        petId:
          type: string
        status:
          type: string
          enum: [draft, issued]
          default: issued
        dueAt:
          type: string
          format: date-time
        taxCents:
          type: integer
          format: int64
          minimum: 0
          default: 0
        discountCents:
          type: integer
          format: int64
          minimum: 0
          default: 0
        lineItems:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/InvoiceLineItemInput"
    VoidInvoiceRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          minLength: 1
    InvoiceMutationResult:
      type: object
      required: [invoice]
      properties:
        invoice:
          $ref: "#/components/schemas/Invoice"
        idempotent:
          type: boolean
    Analytics:
      type: object
      required: [metrics, speciesDistribution, appointmentStatus, revenueTrend, commonDiagnoses]
      properties:
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/Metric"
        speciesDistribution:
          type: object
          additionalProperties:
            type: integer
        appointmentStatus:
          type: object
          additionalProperties:
            type: integer
        revenueTrend:
          type: object
          additionalProperties:
            type: string
        commonDiagnoses:
          type: array
          items:
            $ref: "#/components/schemas/Metric"
    FeedbackResponse:
      type: object
      required: [metrics, distribution, items]
      properties:
        metrics:
          type: array
          items:
            $ref: "#/components/schemas/Metric"
        distribution:
          type: object
          additionalProperties:
            type: integer
        items:
          type: array
          items:
            $ref: "#/components/schemas/Feedback"
    Feedback:
      type: object
      required: [id, petName, ownerName, rating, comment, createdAt]
      properties:
        id:
          type: string
        petName:
          type: string
        ownerName:
          type: string
        rating:
          type: integer
        comment:
          type: string
        createdAt:
          type: string
    PersonList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Person"
    Person:
      type: object
      required: [id, name, role, email, status]
      properties:
        id:
          type: string
        name:
          type: string
        role:
          type: string
        specialty:
          type: string
        email:
          type: string
        status:
          type: string
    CreateStaffRequest:
      type: object
      required: [name, email, role]
      properties:
        name:
          type: string
          minLength: 1
        email:
          type: string
          format: email
        role:
          $ref: "#/components/schemas/Role"
        defaultLocationId:
          type: string
    StaffMutationResult:
      type: object
      required: [staffMember]
      properties:
        staffMember:
          $ref: "#/components/schemas/Person"
        idempotent:
          type: boolean
    AuditLogList:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/AuditLogEntry"
    AuditLogEntry:
      type: object
      required: [id, action, resourceType, createdAt]
      properties:
        id:
          type: string
        actorUserId:
          type: string
        actorRole:
          type: string
        action:
          type: string
        resourceType:
          type: string
        resourceId:
          type: string
        reason:
          type: string
        createdAt:
          type: string
          format: date-time
    Role:
      type: string
      enum:
        - SuperAdmin
        - ClinicAdmin
        - Veterinarian
        - Receptionist
        - VetTechnician
        - LabTechnician
        - PetParent
    Species:
      type: string
      enum: [dog, cat]
    AppointmentType:
      type: string
      enum:
        - in_clinic
        - telemedicine
        - walk_in
        - follow_up
        - vaccination
        - lab_diagnostic
        - procedure_consult
    AppointmentStatus:
      type: string
      enum:
        - requested
        - scheduled
        - confirmed
        - checked_in
        - waiting
        - in_progress
        - completed
        - cancelled
        - no_show
        - needs_reschedule
        - rejected
    QueueStatus:
      type: string
      enum:
        - waiting
        - called
        - in_progress
        - completed
        - cancelled
    LabOrderStatus:
      type: string
      enum:
        - ordered
        - sample_collected
        - sent_out
        - in_progress
        - completed
        - cancelled
